@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--white: white;
}

body {
	margin: 0;
	font-family: 'Kumbh Sans', sans-serif;
}

.container {
	max-width: 1100px;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 7rem;
}

.navbar {
	display: flex;
	align-items: center;
	column-gap: 3rem;
	height: 100%;
}

.pages {
	display: flex;
	align-items: center;
	justify-content: space-around;
	column-gap: 2rem;
	height: 100%;
}

.pages a {
	font-size: 15px;
	font-weight: 400;
	color: #69707D;
	text-decoration: none;
	transition: 0.1s;
	height: 100%;
	display: flex;
	align-items: center;
}

.pages a:hover {
	color: black;
	border-bottom: 4px solid #FF7E1B;
}

.info {
	display: flex;
	align-items: center;
	column-gap: 2rem;
}

.profile-pic {
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

svg, img {
	cursor: pointer;
}

.cart path {
	transition: 0.2s;
}

.cart:hover path {
	fill: black;
}

.white-cart {
	transform: translateY(-0.125rem);
}

.profile-pic:hover {
	border: 2px solid #FF7E1B;
}

hr {
	margin: 0;
}

.product-area {
	display: flex;
	justify-content: center;
	margin-top: 5.7rem;
	column-gap: 7rem;
}

.images {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

.main-image{
	max-width: 445px;
	max-height: 445px;
}

.main-image img {
	height: 100%;
	width: 100%;
	border-radius: 15px;
}

.small-images {
	display: flex;
	justify-content: space-between;
}

.small-images img {
	width: 88px;
	height: 88px;
	border-radius: 10px;
	transition: 0.2s;
}

.small-images img:hover {
	filter: opacity(50%); 
}

.description {
	width: 445px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.review-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 14rem;
	height: 2rem;
	border-radius: 10px;
	background-color: #F6F8FD;
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.review-box p {
	color: #484744;
	text-align: center;
	font-size: 14px;	
	font-weight: 400;
	margin-left: 0.8rem;
}

.review-box svg	{
	width: 19px;
	height: 19px;
}

.description .company-name {
	color: #FF7E1B;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.description .product-name {
	color: #1D2026;
	font-size: 45px;
	font-weight: 700;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.paragraph {
	color: #69707D;
	font-size: 16px;
	font-weight: 400;
}

.price-box {
	display: flex;
	align-items: center;
	column-gap: 1rem;
}

.price-box span {
	text-align: center;
	color: #FF7E1B;
	font-size: 16px;
	font-weight: 700;
	border-radius: 6px;
	background-color: #FFEEE2;
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.price {
	color: #1D2026;
	font-size: 28px;
	font-weight: 700;
	margin: 0;
	margin-top: 0.75rem;
	margin-bottom: 10px;
}

s {
	color: #B6BCC8;
	font-size: 16px;
	font-weight: 700;
}

.atc-box {
	display: flex;
	align-items: center;
	margin-top: 2rem;
	column-gap: 1rem;
}

.quantity {
	height: 56px;
	display: flex;
	align-items: center;
	column-gap: 45px;
	border-radius: 10px;
	background: #F6F8FD;
	padding: 0 1rem 0 1rem;
}

.quantity button {
	border: none;
	background: none;
	cursor: pointer;
	display: flex;
}

.quantity span {
	color: #1D2026;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
}

.quantity svg path {
	transition: 0.2s;
}

.quantity svg:hover path {
	fill: red;
}

.atc-button {
	border-radius: 10px;
	background-color: #FF7E1B;
	box-shadow: 0px 20px 50px -20px #FF7E1B;
	width: 272px;
	height: 56px;
	border: none;
	color: #FFF;
	font-size: 16px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 1rem;
	cursor: pointer;
	transition: 0.2s;
}

.atc-button:hover {
	background-color: #FFAB6A;
}

.atc-button svg {
	margin: 1.25rem 0 1.25rem 0;
}

.review-area {
	margin-top: 78px;
	padding: 0 3rem 0 3rem;
}

.review-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.write-review {
	width: 228px;
	height: 47px;
	border-radius: 10px;
	background: #FF7E1B;
	border: none;
	color: #FFF;
	font-family: Kumbh Sans;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	transform: translateY(11px);
	transition: 0.2s;
}

.write-review:hover {
	background-color: rgb(207, 114, 0);
}

.review-title {
	color: #1D2026;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	margin: 0;
}

.review-list {
	margin-top: 42px;
	display: flex;
	flex-direction: column;
	row-gap: 29px;
	margin-bottom: 5rem;
}

.person-review-box {
	width: 40rem;
	display: flex;
	column-gap: 22px;
}

.review-content {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.top-line {
	display: flex;
	justify-content: space-between;
}

.edit-buttons {
	display: flex;
	column-gap: 18px;
}

.edit-buttons button {
	background: none;
	border: none;
	text-decoration: underline;
	font-size: 16px;
	font-weight: 400;
	padding: 0;
	cursor: pointer;
}

.edit-buttons button:hover {
	text-decoration: none;
}

.author {
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	margin: 0;
}

.user-placeholder {
	width: 45px;
	height: 45px;
}

.star-rating {
	display: flex;
	column-gap: 6px;
	margin: 0;
}

.star-rating svg polygon {
	width: 22px;
	height: 22px;
}

.author-title {
	font-size: 16px;
	font-weight: 500;
	margin: 0;
}

.author-paragraph {
	color: #676767;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

.own-review-area {
	margin-bottom: 5rem;
}

.own-review-title {
	color: #1D2026;
	font-size: 30px;
	font-weight: 700;
}

.review-form {
	width: 40rem;
	display: flex;
	flex-direction: column;
}

.review-form p {
	color: #1D2026;
	font-size: 22px;	
	font-weight: 500;
}

.review-form #headline::placeholder {
	color: #909090;
}

.review-form #headline {
	height: 45px;
	border-radius: 10px;
	border: 1px solid #B6B6B6;
	background: rgba(248, 248, 248, 0.00);
	font-size: 16px;
	font-weight: 400;
	padding: 5px 0 5px 15px;
	font-family: Kumbh Sans;
}

.review-form #description::placeholder {
	color: #909090;
}

.review-form #description {
	height: 126px;
	border-radius: 10px;
	border: 1px solid #B6B6B6;
	background: rgba(248, 248, 248, 0.00);
	font-size: 16px;
	font-weight: 400;
	padding: 0 0 80px 15px;
	font-family: Kumbh Sans;
}

.form-buttons {
	display: flex;
	column-gap: 23px;
	justify-content: flex-end;
	margin-top: 29px;
}

.cancel-review {
	font-family: Kumbh Sans;	
	width: 97px;
	height: 47px;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	border-radius: 10px;
	border: none;
	background: #9C9C9C;
	cursor: pointer;
	transition: 0.2s;
}

.cancel-review:hover {
	background-color: gray;
}

.add-review {
	font-family: Kumbh Sans;
	width: 97px;
	height: 47px;
	color: #FFF;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	border-radius: 10px;
	border: none;
	background: #FF7E1B;
	cursor: pointer;
	transition: 0.2s;
}

.add-review:hover {
	background-color: rgb(207, 114, 0);
}

.own-rating {
	display: flex;
	column-gap: 10px;
}

.trash-button {
	border: none;
	background:	none;
}

.products-cart {
	position: absolute;
	transform: translateX(228%) translateY(-8%);
	width: 360px;
	height: 256px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.50);;
}

.products-cart-title {
	border-bottom: 1px solid #E4E9F2;
	padding: 24px;
}

.products-cart-title h3 {
	color: #1D2026;
	font-size: 16px;
	font-weight: 700;
	margin: 0;
}

.products-list {
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	row-gap: 26px;
}

.products-list p {
	color: #69707D;
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
}

.full-product {
	display: flex;
	align-items: center;
	column-gap: 1rem;
	height: 50px;
}

.full-product img {
	width: 50px;
	height: 50px;
	border-radius: 4px;
}

.full-product p {
	margin: 0;
	color: #69707D;
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
}

.full-product b {
	color: #1D2026;
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
}

.info button {
	border: none;
	background: none;
}

.trash-icon path {
	transition: 0.2s;
}

.trash-icon:hover path{
	fill: gray;
}

.checkout {
	height: 56px;
	border-radius: 10px;
	background: #FF7E1B;
	color: #FFF;
	font-family: Kumbh Sans;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	border: none;
	width: 100%;
	transition: 0.2s;
	cursor: pointer;
}

.checkout:hover {
	background-color: rgb(207, 114, 0);
}

.active-thumbnail {
	filter: opacity(30%);
	box-shadow: 0px 0px 0px 2px rgba(255,126,27,1);
}

.product-quantity-span {
	border-radius: 100px;
	background: #FF7E1B;
	color: #FFF;	
	font-family: Kumbh Sans;
	font-size: 10px;
	font-weight: 600;
	line-height: normal;
	padding: 0 6px 0 6px;
	position: absolute;
	transform: translateX(-70%) translateY(-30%);
}

.own-rating button {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
}

.review-star:hover {
	fill: #FAD409;
}

.review-star:hover path {
	stroke: #616161;
}

.yellow-star {
	fill: #FAD409;
}

.yellow-star path {
	stroke: #FAD409;
}

.error-message {
	color: #FF3D3D;
	font-family: Kumbh Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	margin-top: 0.5rem;
}