@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600&display=swap");

* {
	box-sizing: border-box;
}

:root {
	--white: white;
}

body {
	margin: 0;
	font-family: "Kumbh Sans", sans-serif;
	overflow-x: hidden;
}

.container {
	max-width: 1100px;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 7rem;
}

.navbar {
	display: flex;
	align-items: center;
	column-gap: 3rem;
	height: 100%;
}

.pages {
	display: flex;
	align-items: center;
	justify-content: space-around;
	column-gap: 2rem;
	height: 100%;
}

.pages a {
	font-size: 15px;
	font-weight: 400;
	color: #69707d;
	text-decoration: none;
	transition: 0.1s;
	height: 100%;
	display: flex;
	align-items: center;
}

.pages a:hover {
	color: black;
	border-bottom: 4px solid #ff7e1b;
}

.info {
	display: flex;
	align-items: center;
	column-gap: 2rem;
}

.profile-pic {
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

svg,
img {
	cursor: pointer;
}

.cart path {
	transition: 0.2s;
}

.cart:hover path {
	fill: black;
}

.white-cart {
	transform: translateY(-0.125rem);
}

.profile-pic:hover {
	border: 2px solid #ff7e1b;
}

hr {
	margin: 0;
}

.product-area {
	display: flex;
	justify-content: center;
	margin-top: 5.7rem;
	column-gap: 7rem;
}

.images {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

.main-image {
	max-width: 445px;
	max-height: 445px;
}

.main-image img {
	height: 100%;
	width: 100%;
	border-radius: 15px;
}

.small-images {
	display: flex;
	justify-content: space-between;
}

.small-images img {
	width: 88px;
	height: 88px;
	border-radius: 10px;
	transition: 0.2s;
}

.small-images img:hover {
	filter: opacity(50%);
}

.description {
	width: 445px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.review-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 14rem;
	height: 2rem;
	border-radius: 10px;
	background-color: #f6f8fd;
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.review-box p {
	color: #484744;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	margin-left: 0.8rem;
}

.review-box svg {
	width: 19px;
	height: 19px;
}

.description .company-name {
	color: #ff7e1b;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.description .product-name {
	color: #1d2026;
	font-size: 45px;
	font-weight: 700;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

.paragraph {
	color: #69707d;
	font-size: 16px;
	font-weight: 400;
}

.price-box {
	display: flex;
	align-items: center;
	column-gap: 1rem;
}

.price-box span {
	text-align: center;
	color: #ff7e1b;
	font-size: 16px;
	font-weight: 700;
	border-radius: 6px;
	background-color: #ffeee2;
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.price {
	color: #1d2026;
	font-size: 28px;
	font-weight: 700;
	margin: 0;
	margin-top: 0.75rem;
	margin-bottom: 10px;
}

s {
	color: #b6bcc8;
	font-size: 16px;
	font-weight: 700;
}

.atc-box {
	display: flex;
	align-items: center;
	margin-top: 2rem;
	column-gap: 1rem;
}

.quantity {
	height: 56px;
	display: flex;
	align-items: center;
	column-gap: 45px;
	border-radius: 10px;
	background: #f6f8fd;
	padding: 0 1rem 0 1rem;
}

.quantity button {
	border: none;
	background: none;
	cursor: pointer;
	display: flex;
}

.quantity span {
	color: #1d2026;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
}

.quantity svg path {
	transition: 0.2s;
}

.quantity svg:hover path {
	fill: red;
}

.atc-button {
	border-radius: 10px;
	background-color: #ff7e1b;
	box-shadow: 0px 20px 50px -20px #ff7e1b;
	width: 272px;
	height: 56px;
	border: none;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 1rem;
	cursor: pointer;
	transition: 0.2s;
}

.atc-button:hover {
	background-color: #ffab6a;
}

.atc-button svg {
	margin: 1.25rem 0 1.25rem 0;
}

.review-area {
	margin-top: 78px;
	padding: 0 3rem 0 3rem;
}

.review-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.write-review {
	width: 228px;
	height: 47px;
	border-radius: 10px;
	background: #ff7e1b;
	border: none;
	color: #fff;
	font-family: Kumbh Sans;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	transform: translateY(11px);
	transition: 0.2s;
}

.write-review:hover {
	background-color: rgb(207, 114, 0);
}

.review-title {
	color: #1d2026;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	margin: 0;
}

.review-list {
	margin-top: 42px;
	display: flex;
	flex-direction: column;
	row-gap: 29px;
	margin-bottom: 5rem;
}

.person-review-box {
	width: 40rem;
	display: flex;
	column-gap: 22px;
}

.review-content {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	width: 100%;
}

.top-line {
	display: flex;
	justify-content: space-between;
}

.edit-buttons {
	display: flex;
	column-gap: 18px;
}

.edit-buttons button {
	background: none;
	border: none;
	text-decoration: underline;
	font-size: 16px;
	font-weight: 400;
	padding: 0;
	cursor: pointer;
}

.edit-buttons button:hover {
	text-decoration: none;
}

.no-buttons {
	display: none;
}

.author {
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	margin: 0;
}

.user-placeholder {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.star-rating {
	display: flex;
	column-gap: 6px;
	margin: 0;
}

.star-rating svg polygon {
	width: 22px;
	height: 22px;
}

.author-title {
	font-size: 16px;
	font-weight: 500;
	margin: 0;
}

.author-paragraph {
	color: #676767;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

.own-review-area {
	margin-bottom: 5rem;
}

.own-review-title {
	color: #1d2026;
	font-size: 30px;
	font-weight: 700;
}

.review-form {
	width: 40rem;
	display: flex;
	flex-direction: column;
}

.review-form p {
	color: #1d2026;
	font-size: 22px;
	font-weight: 500;
}

.review-form #headline::placeholder {
	color: #909090;
}

.review-form #headline {
	height: 45px;
	border-radius: 10px;
	border: 1px solid #b6b6b6;
	background: rgba(248, 248, 248, 0);
	font-size: 16px;
	font-weight: 400;
	padding: 5px 0 5px 15px;
	font-family: Kumbh Sans;
}

.review-form #description::placeholder {
	color: #909090;
}

.review-form #description {
	height: 126px;
	border-radius: 10px;
	border: 1px solid #b6b6b6;
	background: rgba(248, 248, 248, 0);
	font-size: 16px;
	font-weight: 400;
	padding: 0 0 80px 15px;
	font-family: Kumbh Sans;
}

.form-buttons {
	display: flex;
	column-gap: 23px;
	justify-content: flex-end;
	margin-top: 29px;
}

.cancel-review {
	font-family: Kumbh Sans;
	width: 97px;
	height: 47px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	border-radius: 10px;
	border: none;
	background: #9c9c9c;
	cursor: pointer;
	transition: 0.2s;
}

.cancel-review:hover {
	background-color: gray;
}

.add-review {
	font-family: Kumbh Sans;
	width: 97px;
	height: 47px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	border-radius: 10px;
	border: none;
	background: #ff7e1b;
	cursor: pointer;
	transition: 0.2s;
}

.add-review:hover {
	background-color: rgb(207, 114, 0);
}

.own-rating {
	display: flex;
	column-gap: 10px;
}

.trash-button {
	border: none;
	background: none;
}

.products-cart {
	position: absolute;
	z-index: 500;
	transform: translateX(228%) translateY(-8%);
	width: 360px;
	height: 256px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5);
}

.products-cart-title {
	border-bottom: 1px solid #e4e9f2;
	padding: 24px;
}

.products-cart-title h3 {
	color: #1d2026;
	font-size: 16px;
	font-weight: 700;
	margin: 0;
}

.products-list {
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	row-gap: 26px;
}

.products-list p {
	color: #69707d;
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
}

.full-product {
	display: flex;
	align-items: center;
	column-gap: 1rem;
	height: 50px;
}

.full-product img {
	width: 50px;
	height: 50px;
	border-radius: 4px;
}

.full-product p {
	margin: 0;
	color: #69707d;
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
}

.full-product b {
	color: #1d2026;
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
}

.info button {
	border: none;
	background: none;
}

.trash-icon path {
	transition: 0.2s;
}

.trash-icon:hover path {
	fill: gray;
}

.checkout {
	height: 56px;
	border-radius: 10px;
	background: #ff7e1b;
	color: #fff;
	font-family: Kumbh Sans;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	border: none;
	width: 100%;
	transition: 0.2s;
	cursor: pointer;
}

.checkout:hover {
	background-color: rgb(207, 114, 0);
}

.active-thumbnail {
	filter: opacity(30%);
	box-shadow: 0px 0px 0px 2px rgba(255, 126, 27, 1);
}

.product-quantity-span {
	border-radius: 100px;
	background: #ff7e1b;
	color: #fff;
	font-family: Kumbh Sans;
	font-size: 10px;
	font-weight: 600;
	line-height: normal;
	padding: 0 6px 0 6px;
	position: absolute;
	transform: translateX(-70%) translateY(-30%);
}

.own-rating button {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
}

.review-star:hover {
	fill: #fad409;
}

.review-star:hover path {
	stroke: #616161;
}

.yellow-star {
	fill: #fad409;
}

.yellow-star path {
	stroke: #fad409;
}

.error-message {
	color: #ff3d3d;
	font-family: Kumbh Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	margin-top: 0.5rem;
}

.menu-button {
	border: none;
	background: none;
	transform: translateY(3px);
}

.close-icon {
	margin-left: 1.2rem;
}

.pages-expanded {
	display: flex;
	flex-direction: column;
	position: absolute;
	row-gap: 1.25rem;
	top: 7rem;
	left: 0;
	width: 66%;
	height: 100%;
	background-color: #fff;
	z-index: 1000;
	padding-left: 1.5rem;
}

.pages-expanded a {
	color: #1d2026;
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.625rem;
	text-decoration: none;
	transition: 0.2s;
}

.image-slide {
	display: none;
}

.image-slide button {
	border: none;
	background: none;
	padding: 0;
}

.image-slide button svg path {
	transition: 0.2s;
}

.image-slide button svg:hover path {
	stroke: #ff7e1b;
}

.add-btn {
	display: none;
}

@media screen and (max-width: 1280px) {
	.products-cart {
		transform: translateX(210%) translateY(-8%);
	}
}

@media screen and (max-width: 1145px) {
	.container {
		max-width: 900px;
	}

	.small-images img {
		width: 68px;
		height: 68px;
	}

	.products-cart {
		transform: translateX(150%) translateY(-8%);
	}
}

@media screen and (max-width: 950px) {
	.description {
		padding-left: 2rem;
	}

	.container {
		max-width: 800px;
	}

	.product-area {
		flex-direction: column;
		margin-top: 0;
	}

	.pages {
		display: none;
	}

	.navbar {
		column-gap: 2rem;
	}

	hr {
		display: none;
	}

	.images {
		flex-direction: row;
		column-gap: 3rem;
		justify-content: center;
	}

	.small-images {
		flex-direction: column;
	}

	.small-images img {
		width: 115px;
		height: 115px;
	}

	.main-image {
		max-width: 600px;
		max-height: 600px;
	}

	.main-image img {
		height: 100%;
		width: 100%;
	}

	.products-cart {
		transform: translateX(130%) translateY(-8%);
	}

	.pages-expanded {
		padding-left: 4rem;
	}

	.pages-expanded a:hover {
		transform: translateX(1rem);
	}

	.description {
		margin-top: 2rem;
	}

	.person-review-box {
		width: 35rem;
	}
}

@media screen and (min-width: 951px) {
	.menu-icon {
		display: none;
	}

	.close-icon {
		display: none;
	}
}

@media screen and (max-width: 875px) {
	.products-cart {
		transform: translateX(120%) translateY(-8%);
	}
}

@media screen and (max-width: 830px) {
	.container {
		max-width: 680px;
	}

	.images {
		column-gap: 2rem;
	}

	.small-images img {
		width: 100px;
		height: 100px;
	}

	.products-cart {
		transform: translateX(90%) translateY(-8%);
	}

	.review-form {
		width: 36rem;
	}
}

@media screen and (max-width: 710px) {
	.small-images {
		display: none;
	}

	.main-image {
		max-width: 100%;
		max-height: 100%;
	}

	.main-image img {
		border-radius: 0;
	}

	.navbar {
		column-gap: 1rem;
	}

	.image-slide {
		display: flex;
		width: 97%;
		justify-content: space-between;
		position: absolute;
		padding: 0 1rem 0 1rem;
		transform: translateY(19rem);
	}

	header {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.info {
		align-items: center;
	}

	.profile-pic {
		width: 2rem;
		height: 2rem;
	}

	.products-cart {
		transform: translateX(80%) translateY(-8%);
	}

	.person-review-box {
		width: 30rem;
	}
}

@media screen and (max-width: 690px) {
	.image-slide {
		width: 100%;
	}

	.review-form {
		width: 32rem;
	}
}

@media screen and (max-width: 660px) {
	.products-cart {
		transform: translateX(65%) translateY(-8%);
	}
}

@media screen and (max-width: 600px) {
	.products-cart {
		transform: translateX(50%) translateY(-8%);
	}

	.review-title {
		font-size: 25px;
	}

	.write-review {
		width: 12rem;
	}

	.review-form {
		width: 28rem;
	}
}

@media screen and (max-width: 550px) {
	.image-slide {
		transform: translateY(15rem);
	}

	.description {
		width: 87%;
		margin-top: 2rem;
	}

	.review-box {
		display: none;
	}

	.description .product-name {
		font-size: 40px;
	}

	.all-prices {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.all-prices s {
		font-size: 1.2rem;
	}

	.atc-box {
		flex-direction: column;
		row-gap: 2rem;
	}

	.quantity {
		width: 100%;
		justify-content: space-between;
	}

	.atc-button {
		width: 100%;
	}

	.review-title {
		text-align: left;
		font-size: 25px;
	}

	.write-review {
		display: none;
	}

	.add-btn {
		display: block;
		border: none;
		color: #fff;
		text-align: center;
		font-family: Kumbh Sans;
		font-size: 0.9rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		border-radius: 0.4375rem;
		background: #ff7e1b;
		width: 6rem;
		height: 2.6rem;
		transition: 0.2s;
		cursor: pointer;
	}

	.add-btn:hover {
		background-color: rgb(207, 114, 0);
	}

	.review-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.products-cart {
		width: 22.5rem;
		height: 16rem;
		flex-shrink: 0;
		transform: translateX(20%) translateY(4%);
		z-index: 100;
	}

	header {
		height: 5rem;
	}

	.person-review-box {
		flex-direction: column;
		row-gap: 0.75rem;
	}

	.review-content {
		padding-left: 8px;
		width: 25rem;
	}

	.pages-expanded {
		top: 5rem;
		padding-left: 1.5rem;
	}

	.close-icon {
		margin-left: 0;
	}

	.review-form {
		width: 25rem;
	}

	.pages-expanded {
		box-shadow: 200px 0px 0px 0px rgba(0, 0, 0, 0.75);
	}
}
